/* Page Background */
body {
  background-color: #0F172A;
  font-family: Arial, sans-serif;
  color: #f3f4f6;
  padding: 20px;
}

/* Titles */
h1, h2, h3 {
  color: #f3f4f6;
  margin-bottom: 10px;
  font-weight: 700;
}

/* Form Container */
form {
  background-color: #111827;
  padding: 25px;
  border-radius: 12px;
  max-width: 1100px;
  margin: auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.5), 
              0 0 25px rgba(167,139,250,0.4);
}


/*gender*/
.gender-group {
  display: flex;
  gap: 20px;
  margin-top: 6px;
}

.gender-group label {
  color: #f3f4f6;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.gender-group input[type="radio"] {
  margin: 0;
  accent-color: #a78bfa;
}

/* Row Layout */
.row {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.field label {
  color: #9ca3af;
  margin-bottom: 6px;
  font-size: 14px;
}

/* Style for input/select/textarea */
input,
select,
textarea {
  width: 90%;
  padding: 12px 14px;
  border-radius: 8px;
  background-color: #1f2937;
  border: 1px solid #374151;
  color: white;
  outline: none;
  font-size: 15px;
  transition: 0.25s;
}

/* Focus Effect */
input:focus,
select:focus,
textarea:focus {
  border-color: #a78bfa;
  box-shadow: 0 0 6px #a78bfa88;
}

/* Radio Buttons */
input[type="radio"] {
  width: auto;
  margin-right: 5px;
  accent-color: #a78bfa;
}

/* File Input */
input[type="file"] {
  padding: 8px;
  background-color: #1f2937;
  border-radius: 8px;
  cursor: pointer;
}

/* Textarea size */
textarea {
  height: 120px;
  resize: vertical;
}

/* Register Button */
button {
  width: 100%;
  background-color: #a78bfa;
  color: #111827;
  border: none;
  padding: 14px;
  font-size: 18px;
  margin-top: 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #c4b5fd;
}


/* Mobile Responsive */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}
